_Store
Library/AssetImportState
Library/AssetServerCacheV3
Library/FailedAssetImports.txt
Library/ScriptAssemblies
Library/ScriptMapper
Library/assetDatabase3
Library/cache
Library/expandedItems
Library/metadata
Library/previews
Library/guidmapper
Temp
.csproj
*.pidb
*.sln
build
/Library/
/Assembly-CSharp-Editor-firstpass-vs.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass-vs.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-vs.csproj
/Assembly-CSharp.csproj
/Assembly-UnityScript-Editor-firstpass-vs.unityproj
/Assembly-UnityScript-Editor-firstpass.unityproj
/Assembly-UnityScript-firstpass-vs.unityproj
/Assembly-UnityScript-firstpass.unityproj
/Assembly-UnityScript-vs.unityproj
/Assembly-UnityScript.unityproj
/*.userprefs